---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-img.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import featureImage from "@images/features-image.png";
import splitOne from "@images/split-one.png";
import splitTwo from "@images/split-two.png";
---

<MainLayout>
  <HeroSection
    title=`Bienvenidos a <span
        class="text-neutral-600	dark:text-neutral-400">Lex Fortis</span>`
    subTitle="Defendemos sus derechos con pasión y compromiso"
    primaryBtn="Contacto"
    primaryBtnURL="/contact"
    src={heroImage}
    alt="Balanza dorada de bufete de abogadps"
  />

  <FeaturesGeneral
    title="Acerca De Lex Fortis"
    subTitle="En Lex Fortis, somos un bufete legal hondureño con sede en la bella ciudad de La Ceiba. Nos apasiona defender los derechos de nuestros clientes y luchar por sus intereses. Creemos en la construcción de relaciones sólidas y duraderas con nuestros clientes, basadas en la confianza, la comunicación abierta y un compromiso inquebrantable con la excelencia."
    src={featureImage}
    alt="Lex-Fortis team"
    features={features}
  />

  <FeaturesNavs
    title=`¡Encuentra nuestras nuevas oficinas!`
    tabs={[
      {
        heading: "¿Donde estamos ubicados?",
        content:
          "Lex Fortis tiene su sede en la hermosa ciudad de La Ceiba, del departamento de Atlántida en Honduras. Somos una parte integral de la comunidad de La Ceiba y estamos orgullosos de servir a nuestros clientes de la región.",
        svg: "mapPin",
        src: splitTwo,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Conoce Mas",
        content:
          "Nos preocupamos por ofrecer a nuestros clientes una experiencia legal positiva en todos los aspectos. Por eso, además de brindar un servicio legal de alta calidad y ética, también nos hemos asegurado de crear un espacio de trabajo moderno, cómodo y acogedor para nuestros clientes y visitantes.",
        svg: "dashboard",
        src: splitOne,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
    ]}
  />


  <FAQ title="Preguntas<br />Frecuentes" faqs={faqs} />
</MainLayout>
