---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-img.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import featureImage from "@images/features-image.png";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
---

<MainLayout>
  <HeroSection
    title=`Bienvenidos a <span
        class="text-neutral-600	dark:text-neutral-400">Lex Fortis</span>`
    subTitle="Defendemos sus derechos con pasión y compromiso"
    primaryBtn="Contacto"
    primaryBtnURL="/products"
    src={heroImage}
    alt="Balanza dorada de bufete de abogadps"
  />

  <FeaturesGeneral
    title="Acerca De Lex Fortis"
    subTitle="En Lex Fortis, somos un bufete legal hondureño con sede en la bella ciudad de La Ceiba. Nos apasiona defender los derechos de nuestros clientes y luchar por sus intereses. Creemos en la construcción de relaciones sólidas y duraderas con nuestros clientes, basadas en la confianza, la comunicación abierta y un compromiso inquebrantable con la excelencia."
    src={featureImage}
    alt="Lex-Fortis team"
    features={features}
  />

  <FeaturesNavs
    title=`Customize <span class="text-white-500 dark:text-white-400">ScrewFast</span>'s offerings to perfectly suit your hardware and construction needs.`
    tabs={[
      {
        heading: "Cutting-Edge Tools",
        content:
          "Empower your projects with ScrewFast's cutting-edge tools. Experience enhanced efficiency in construction management with our sophisticated automated solutions.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Intuitive Dashboards",
        content:
          "Navigate with ease using ScrewFast's intuitive dashboards. Set up and oversee your projects seamlessly, with user-friendly interfaces designed for quick and effective workflow management.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Robust Features",
        content:
          "Minimize complexity, maximize productivity. ScrewFast's robust features are engineered to streamline your construction process, delivering results that stand out for their excellence.",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />


  <FAQ title="Frequently<br />asked questions" faqs={faqs} />
</MainLayout>
