---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-img.png";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import featureImage from "@images/features-image.png";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
---

<MainLayout>
  <HeroSection
    title=`Bienvenidos a <span
        class="text-neutral-600	dark:text-neutral-400">Lex Fortis</span>`
    subTitle="Defendemos sus derechos con pasión y compromiso"
    primaryBtn="Contacto"
    primaryBtnURL="/products"
    src={heroImage}
    alt="Balanza dorada de bufete de abogadps"
  />

  <FeaturesGeneral
    title="Acerca De Lex Fortis"
    subTitle="En Lex Fortis, somos un bufete legal hondureño con sede en la bella ciudad de La Ceiba. Nos apasiona defender los derechos de nuestros clientes y luchar por sus intereses. Creemos en la construcción de relaciones sólidas y duraderas con nuestros clientes, basadas en la confianza, la comunicación abierta y un compromiso inquebrantable con la excelencia."
    src={featureImage}
    alt="Lex-Fortis team"
    features={features}
  />

  <FeaturesNavs
    title=`¡Encuentra nuestras nuevas oficinas!`
    tabs={[
      {
        heading: "¿Donde estamos ubicados?",
        content:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida posuere lectus, vel pharetra urna consequat vitae. Quisque iaculis scelerisque ipsum et lacinia. Pellentesque a metus tincidunt, ultricies ipsum sed, sodales risus.",
        svg: "mapPin",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Conoce Mas",
        content:
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida posuere lectus, vel pharetra urna consequat vitae. Quisque iaculis scelerisque ipsum et lacinia. Pellentesque a metus tincidunt, ultricies ipsum sed, sodales risus.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
    ]}
  />


  <FAQ title="Frequently<br />asked questions" faqs={faqs} />
</MainLayout>
